body {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  background-color: #222222;
  color: #f0f2f7;
  text-align:left;
  font-weight: 300;
  font-size:16px;
  line-height: 1.7;
  overflow-x: hidden; 
}
h1, h2, h3, h4, h5 {
  color: #fff;
  font-weight: 200;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  color:#0077b5;  
  font-family: inherit;
  font-weight:200;
}

.navbar {
    padding: 15px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    float: none;
    left: 34%;
  }
  
.navbar a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2em;
  }
  
.navbar a:hover {
    background-color: #fff;
    color: #0077b5;
  }
  
.navbar a:active {
    background-color: whitesmoke;
    color: #0077b5;
}

.active:last-child {
    border-right: none;
}

  img {
    height:100%;
    width: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    image-rendering: optimizeQuality;
  }

.resume-item {
  padding: 30px;
  background: #333;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border: 4px solid transparent;
  border-radius: 7px;
}

.resume-item .date {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.site-section {
  padding: 5em 0;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
  margin-right: 1.5rem !important;
}

section {
  display: block;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.section-heading h2 strong {
  font-weight: 800;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.pr-lg-5, .px-lg-5 {
  padding-right: 3rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mb-lg-0, .my-lg-0 {
  margin-bottom: 0 !important;
}

.col-lg-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.section-heading {
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
}

.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 5px;
  font-size: 30px;
}

.pr-lg-5, .px-lg-5 {
  padding-right: 3rem !important;
}

.col-lg-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38.66667%;
  flex: 0 0 38.66667%;
  max-width: 38.66667%;
}

.pl-lg-5, .px-lg-5 {
  padding-left: 3rem !important;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.lead {
  font-weight: 200;
  line-height: 1.5;
  font-size: 1.25rem;
  color: #7a7a7a;
}

.teksti2 {
  margin-bottom: 1.0rem !important;
  color:  #7a7a7a;
}

element {
  position: relative;
  height: 944.766px;
}

.single-portfolio {
  margin-bottom: 50px;
  display: block;
  border-radius: 5px;
}

.col-sm-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.single-portfolio .relative {
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: 100%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 7px;
}

.thumb .overlay-bg {
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.single-portfolio .p-inner h4 {
  font-size: 20px;
}

.single-portfolio .p-inner {
  text-align: center;
}

.text-center {
  text-align: center !important;
}

ul.a {
  list-style-type: circle;
}

footer {
  text-align: center;
}

.alabäkki {
  color: white;
  padding: 10px;
  background-color: #333;
  border: 4px solid transparent;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .2em;
}

.button {
  background-color: #0077b5;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.nappi a:active {
  background-color: #075488;
  color: white;
}

.nappi a:hover {
    background-color: #075488;
    color: white;
  }

.linkkicolor {
  color:white;
}

.gitnapit {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.cat a:hover {
  background-color: grey;
  color:white;
}

.footer1 a:hover {
  color: white;
  background-color: grey;
}

.otsikko1 {
  padding-top:50px; 
  text-align: center;
}

.col-md-5 {
  margin-top: 10%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  margin-left: 27%;
}

.pl-md-5, .px-md-5 {
  padding-left: 3rem !important;
}

.site-contact-details, .site-contact-details li {
  padding: 0;
  margin: 0;
  text-align:center;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.site-contact-details li {
  list-style: none;
  text-align:center;
}

.site-contact-details li > span {
  color: #4d6a88;
  letter-spacing: .1em;
  font-size: 13px;
  font-weight: 400;
  padding: 0.2rem;
  display: block;
}

